html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  background-color: #00A7E1;
}

[data-testid="openView"] {
  height: 100%;
  background-color: #00A7E1;
}

[data-testid="openView"] main {
  justify-content: flex-start;
  background-color: #00A7E1;
  height: 100%;
  padding: 0;
  margin: 0;
}